<h3>Lista de personas</h3>
{{#if personas}}

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each personas}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{lastname}}</td>
                    <td>{{age}}</td>
                    <td>
                        <div>
                            <a href="/edit/{{id}}">Editar</a>
                            <a href="/delete/{{id}}">Eliminar</a>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr></tr>
            <td>Registro de personas</td>
        </tfoot>
    </table>
{{else}}
    <div>
        <h3>Debes crear una persona</h3>
    </div>
    <div>
        <p>Presiona para poder crear una persona</p>
        <a href="/add">Ir a crear</a>
    </div>
{{/if}}